<footer class="main-footer">
    <div class="container text-center text-justify">
      <br>
            <!-- Facebook -->
          <a class="facebook" href="https://web.facebook.com/Diesefly-Dev-108255180913394">
            <i class="fab fa-facebook-f white-text mr-4"></i>
          </a>
          <!-- Youtobe -->
          <a class="youtoub" href="https://www.youtube.com/channel/UCqDvKCHZD17a7O7WAQASTWw/featured?view_as=subscriber">
            <i class="fab fa-youtube white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://www.linkedin.com/in/hassan-ajdour-a612131aa/">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/diesefly/">
            <i class="fab fa-instagram white-text"> </i>
          </a>
      </div>
       <!--app-footer-->
       <div class="mt-5 pt-5 pb-5 text-center color-white app-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-xs-12 about-company">
              <h2> <i class="fas fa-scroll"></i> Diesefly </h2>
              <hr>
              <p class="pr-5 text-green-40"> "  Hi ! We are a Devfly Team ,
                we build a website for your business , we create logos / Poster to you in order to build your Brand in the market , 
                and we offer so many services to you  ... "  </p>
                <br>
            </div>
            <br>
            <div class="col-lg-3 col-xs-12 links">
              <h4 class="mt-lg-0 mt-sm-3"> <i class="fas fa-external-link-alt"></i> Links </h4>
              <hr>
                <h5></i> <a href="{% url 'about' %}" style="text-decoration: none; color:whitesmoke" > About </a></h5>
                <h5><a href="{% url 'about' %}" style="text-decoration: none; color:whitesmoke"> Services </a></h5>
                <h5><a href="{% url 'contact' %}" style="text-decoration: none; color:whitesmoke"> Contact us </a> </h5>
                <h5><a href="{% url 'home' %}" style="text-decoration: none; color:whitesmoke"> Blogs </a> </h5>
                <br>
            </div>
            <div class="col-lg-4 col-xs-12 location">
              <h4 class="mt-lg-0 mt-sm-4"><i class="fas fa-search-location"></i> Location </h4>
              <hr>
              <p> <i class="fas fa-map-marker"></i>  Rabat,Sale,Knitra 11100</p>
              <br>
              <h4 class="mt-lg-0 mt-sm-4"></i><i class="far fa-address-book"></i> Contact </h4>
               <hr>
              <p class="mb-0"><i class="fa fa-phone mr-3"></i> +212628163681 </p>
              <p><i class="fas fa-envelope-square"></i> Diesefont_Py@gmail.com</p>
            </div>
          </div>
        </div>
        </div>
        </div>
       <!-- end of appfooter-->
  <div class="py-4 text-white text-center main-footer">
    Copyright &copy;
    <span class="year">2020</span> Devfly
  <div>
  </footer>