{% extends 'base.html' %}
{% block content %}

 <!-- Work -->
 <section id="work-about" class=" text-white text-center">
   <br>
   <br>
  <h4 class="display-4">We Work to complete Your Sevices </h4>
  <h4> Build your brand or a website for company</h4>
  <h4> Resgister for free Now!</h4>
  <a href="listings.html" class="btn btn-secondary text-white btn-lg">Register</a>
  <br>
  <br>
</section>

<!-- Services -->
<section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Propery Management</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Renting & Selling</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
      </div>
    </div>
</section>

<!--Of Service -->

<!-- Team -->
<section id="team-about" class="py-5">
  <div class="container">
    <h2 class="text-center">Our Team</h2>
    <div class="row text-center">
      <div class="col-md-4">
        <img src="assets/img/realtors/kyle.jpg" alt="" class="rounded-circle mb-3">
        <h4>Kyle Brown</h4>
        <p class="text-success">
          <i class="fas fa-award text-success mb-3"></i> Realtor</p>
        <hr>
        <p>
          <i class="fas fa-phone"></i> (555)-555-5555</p>
        <p>
          <i class="fas fa-envelope-open"></i> kyle@btrealestate.co</p>
      </div>
      <div class="col-md-4">
        <img src="assets/img/realtors/mark.jpg" alt="" class="rounded-circle mb-3">
        <h4>Mark Hudson</h4>
        <p class="text-success">Realtor</p>
        <hr>
        <p>
          <i class="fas fa-phone"></i> (444)-444-4444</p>
        <p>
          <i class="fas fa-envelope-open"></i> mark@btrealestate.co</p>
      </div>

      <div class="col-md-4">
        <img src="assets/img/realtors/jenny.jpg" alt="" class="rounded-circle mb-3">
        <h4>Jenny Johnson</h4>
        <p class="text-success">Realtor</p>
        <hr>
        <p>
          <i class="fas fa-phone"></i> (333)-333-3333</p>
        <p>
          <i class="fas fa-envelope-open"></i> jenny@btrealestate.co</p>
      </div>
    </div>
  </div>
</section>


{% endblock content %}