{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Contact Form -->
<br>
<header>
  <div class="mx-auto">
    <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto" style="color:rgb(0, 0, 0)">
      <p class="text-center font-weight-bold"> Do you have a Question ? </p>
      <p class="text-center font-weight-bold"> We have an Answer , write it down ! </p>
      <form method="POST">
        {% csrf_token %}
        <p>{{ form | crispy }}</p>
        <button name="button" type="submit" class="btn btn-block bg-success">Submit</button>
      </form>
    </div>
  </div>
</header>
<br>
<br>
<!-- end contact form -->

{% endblock content %}