{% extends 'base.html' %}
{% load static %}

{% block content %}

   <!-- Page Header -->
   <div class="card text-white bg-dark">
    <img src="{% static '/images/backimage.jpg' %}" class="card-img" alt="background-image" style="height: 400px;">
    <div class="card-img-overlay">
      <br>
      <br>
      <div class=container>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <br>
              <br>
             <h2 class="card-title mr-3 ml-4 font-weight-bold" style="font-family: 'Comic Sans MS', Times, serif"> {{post.title}}</h2>
            </div>
            <div class="col-md-2">
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Page Header -->


  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto bg-white">
          <br>
          <h3 class="card-title  text-center" style="font-family: 'Comic Sans MS', Times, serif"><i class="fas fa-newspaper"> </i> {{post.title}} . </h3>
          <br>
          <p class="text-justfy font-weight-bold" style="font-family: 'Arial', Times, serif">{{post.details|linebreaksbr}}</p>
          <p class="card-text"><small class="text-muted">Last updated 1 hour ago </small></p>
          <h5 class="text-justify font-weight-bold">
            <i class="fas fa-edit"></i> Do you find this Article Useful? write your comment below!
          </h5>
          <br>
          <div class="card-body">
                  <div class="card-header bg-success text-center">
                      Feedback
                  </div>
                  <form method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                          <textarea name="content" class="form-control" style="height:16rem"></textarea>
                      </div>
                      <div class="form-group">
                      <button type="submit" name="button" class="btn btn-block btn-success">Comment</button>
                      </div>
                  </form>
                  {% for feedback in feedbacks %}
                  <ul class="list-group list-group-flush" >
                      <li class="list-group-item"> <h5></i> <i class="fas fa-user"></i> {{ feedback.user.username}} : </h5>
                        <h5> <i class="fas fa-comment"></i> " {{feedback.content}} "  </h5> </li>
                      <hr>
                  </ul>
                  {% endfor %}
              </div>
        </div>
      </div>
    </div>
  </article>
  <br>
{% endblock %}