{% extends 'base.html' %}
{% load static %}

{% block title %}

Home

{% endblock %}



{% block content %}

<!-- Background picture -->

<section class="image"><div class="container">
  <div class="row">
     <div class="col-md-8">
        <div class="title">
          <div class="mt-4">
             <h2>  Diesefive Platform </h2>
             </div>
            <div class="mt-1">
              <h3> <i class="fas fa-check-circle" style="color: rgb(12, 228, 12)"></i> Discover Productive and Creative Tools  </h3>
                </div>
            <div class="mt-1">
              <h3>  <i class="fas fa-check-circle" style="color: rgb(12, 228, 12)"></i> Stay connected to the world of Innovation , and new technology   </h3>
            </div>
              <div class="mt-3">
                  <h4>  <i class="fas fa-check-circle" style="color: rgb(12, 228, 12)"></i>  Sign Up And Get Started </h4>
              </div>
           <div class="m mt-4">
           <a class="btn" style="color:white; background-color:#2e86c1;" href=""> <h4 class="btt"> Join for free </h4></a>
        </div>
        </div>
      </div>
    <div class="col-md-4">
  </div>
</div>
</div>
</section>
<br><br>
<!-- End_Of_Background picture -->
<!-- Tile -->
<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-10 text-center">
        <h4 class="text-capitalize font-weight-bold"> All products </h4>
      </div>
    </div>
  </div>
</div>
<!-- the end of Tile -->

<!-- listing Post -->



<!--End of the listing -->

{% endblock %}