body {
  background-color: #D8D8D8;
 
}
html {
  font-family: 'Times New Roman', Times, serif;
}

.btn-secondary {
  color: #fff !important; }

img {
  width: 100%; }

.logo {
  width: 80px; 
}

.navbar {
  background-color: #0b4141 ;
  opacity: 0.9;
  text-transform: uppercase;
}
.sticky-top {
  background-color : #0b4141 ;
}

.btnn {
  color: #fff;
  background-color: #dc3545;
  border-radius: 35px;
  border: 1px solid rgba(220, 53, 69, 0.75);
}

#showcase-inner{
    min-height: 100%;
    width: 100%;
    background: #4b9fe1 ;
}

.text-title {
  color : white ;
  font-family: Arial, Helvetica, sans-serif;
}



.top-bar {
  background-color: #1a2238 ;
  color : white;
  
}

#work-about {
  background-color:  #4b9fe1 ;
}


#team-about {
  background-color:  #051622; 
  color : white;
}

#service-about {
  background-color: white ; 
}

.main-footer {
  background-color: #0b4141 ;
  color : white;
}

.app-footer {
  background: #162b32 ;
  color:white;
  
}
.links.h5 {
  text-decoration: none;
  font-size: medium;
  color :#4b9fe1 ;
}

#services {
  background-color: #1a2238 ;
}
